.page {
  background-color: #004b23; /* Green background */
  align-items: center;
}

.header {
  padding: 20;
  text-align: center;
  color: #ffffff;
  font-size: 18;
}

.subheader-label {
  color: white;
  font-size: 18; /* Adjust the font size for the subheader */
}

.snapshot {
  width: 100;
  height: 100;
  border-radius: 50;
  margin-bottom: 10;
}

.header-label {
  color: white;
  font-size: 24;
  font-weight: bold;
}

.button-container {
  padding: 20;
  align-items: center;
}

.main-button {
  width: 200;
  height: 60;
  margin: 10;
  border-radius: 10;
  font-size: 18;
}

.about-button {
  background: linear-gradient(to right, #2ecc71, #004b23); /* Green to dark green gradient */
  color: white;
}

.skills-button {
  background: linear-gradient(to right, #2ecc71, #004b23); /* Green to dark green gradient */
  color: white;
}

.contact-button {
  background: linear-gradient(to right, #2ecc71, #004b23); /* Green to dark green gradient */
  color: white;
}

.goback-button{
  background: linear-gradient(to right, #2ecc71, #004b23); /* Green to dark green gradient */
  color: white;
}

.submit-button{
  background: linear-gradient(to right, #041d0e, #004b23); /* Green to dark green gradient */
  color: white; 
  width: 100;
  height: 50;
  font-weight: bold;
}

.form-group {
  padding: 10; /* Adjust the padding as needed */
  background-color: #004b23;
}

.label {
  font-size: 18;
  color: white;
}

.input {
  border-width: 1;
  border-color: #ccc;
  border-radius: 5;
  padding: 10;
  margin-top: 5;
  background-color: white;
}

.list-view {
  width: 90%;
  background-color: #004b23
}

.skill-item {
  padding: 15;
  border-bottom-width: 1;
  border-color: #ccc;
}

.category, .skill {
  color: #ffffff;
  font-size: 16;
  width: 50%;
  text-align: center; /* Center text horizontally */
}

.category {
  font-weight: bold;
}
